<div class="container">
    <div class="text-center p-5">
        <div class="mb-4"> Signup Or <a class="" routerLink="/login">Login</a></div>
        <div class="d-flex align-items-center justify-content-center  mb-2 ">
            <div class="mx-2 text-end">
                <div class="font-size-16">First Name</div>
            </div>
            <div class="mx-2 text-start">
                <div class="font-size-16">
                    <input type="text" [(ngModel)]="fname" class="form-control">
                </div>
                <div class="text-danger"*ngIf="submitted && fname==''">
                    Please Enter the value
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center  mb-2 ">
            <div class="mx-2 text-end">
                <div class="font-size-16">Last Name</div>
            </div>
            <div class="mx-2 text-start">
                <div class="font-size-16">
                    <input type="text" [(ngModel)]="lname" class="form-control">
                </div>
                <div  class="text-danger"*ngIf="submitted && lname==''">
                    Please Enter the value
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center  mb-2 ">
            <div class="mx-2 text-end">
                <div class="font-size-16">Email</div>
            </div>
            <div class="mx-2 text-start">
                <div class="font-size-16">
                    <input type="text" [(ngModel)]="email" class="form-control">
                </div>
                <div class="text-danger"*ngIf="submitted && email ==''">
                    Please Enter the value
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center  mb-2 ">
            <div class="mx-2 text-end">
                <div class="font-size-16">Password</div>
            </div>
            <div class="mx-2 text-start">
                <div class="font-size-16">
                    <input type="password" [(ngModel)]="password" class="form-control">
                </div>
                <div class="text-danger"*ngIf="submitted &&password ==''">
                    Please Enter the value
                </div>
            </div>
        </div>
    </div>
    <div class=" text-center">
        <button class="btn btn-success " (click)="submit()"> Submit</button>
    </div>
</div>